body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #B38728;
    line-height: 1.8;
    scroll-behavior: smooth;
}

/*Navbar Styles*/
.w3-navbar { color: #fff;}
.w3-navbar.w3-animate-top { color: #C6D2DE;}
.w3-navbar li a {
    transition: 0.4s;
}
.w3-navbar li a:hover { 
    background-color: transparent; 
    color: black;
    font-size: 18px !important; 
}
.w3-white {
    background-image: linear-gradient(to right,#BF953F 0%,#FCF6BA 51%,#B38728 100%);
    color: white !important;
    opacity: 0.6;
}
#myNavbar {
    font-size: 16px;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    opacity: 0.7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('background.jpg');
    min-height: 100%;
}
p {
    font-size: 20px;
    font-family: "HappyTime";
}
/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("https://classroomscreen.com/achtergrond/gif5.gif");
    opacity: 1; 
    min-height: 400px;
    max-width: 100%;
    color: white;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url('https://i.pinimg.com/originals/2a/c8/d1/2ac8d1b164506e0cb975c692d49c321d.jpg');
    /* background-image: url("https://i.pinimg.com/originals/11/fb/9f/11fb9f12acfc005e28053b906b51d8a5.jpg"); */
    text-shadow: black 7px 0 10px;    
    min-height: 400px;
    opacity: 0.9;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity:hover {
    cursor: pointer;
    width: 400px !important;
}

/* Bouton gradient */
.btn-hover {
    font-family: Roboto, sans-serif;
    width: 180px !important;
    font-size: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10% !important;
    margin: auto;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: white;
    font-weight: bold;

}

.btn-hover:focus {
    outline: none;
    color: white;
    font-weight: bold;
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right,#BF953F 0%,#FCF6BA 51%,#B38728 100%);
    box-shadow: 0 4px 15px 0 rgba(42, 19, 53, 0.75);
    padding: 1%;
    margin-top: 36%;
    margin-left: 42%;
    font-family: "AkaylaScriptDeco_PERSONAL";
    text-align: center;
    
}   


#profile { 
    vertical-align: middle; 
    width: 60%; 
}
#portfolio {
    color: black !important;
    text-shadow: white 3px 0 10px !important;    
}

a {
    text-decoration: none;
}
.text,.text-projets {
    font-family: "AkaylaScriptDeco_PERSONAL" !important;
    font-size: 19px;
}
h2.text-projets {
    font-family: "AkaylaScriptDeco_PERSONAL" !important;
    font-size: 35px;
}

#projet1, #morpion, #cagnot, #exchange, #luxury, #gitlab {
    border-radius: 20px;
    min-width: 15%;
    height: auto;
    min-height: 200px !important;
}



/* img projets hover */
figure.snip1091 {
    position: relative;
    display: inline-block;
    margin: 10px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
   }
   
   figure.snip1091 * {
     -webkit-transition: all 0.35s ease-in-out;
     transition: all 0.35s ease-in-out;
   }
   
   figure.snip1091 img {
     opacity: 0.25;
     max-width: 100%;
     position: relative;
     top: 0;
     left: 0;
   }
   
   figure.snip1091 figcaption {
     position: absolute;
     top: 50%;
     left: 30px;
     right: 30px;
     -webkit-transform: rotate(0deg) translateY(-50%) scale(1);
     transform: rotate(0deg) translateY(-50%) scale(1);
     -webkit-transform-origin: center 0;
     transform-origin: center 0;
   }
   
   figure.snip1091 figcaption h2 {
     top: 50%;
     letter-spacing: -1px;
     color: #ffffff;
     font-family: "AkaylaScriptDeco_PERSONAL";
     text-transform: uppercase;
     padding: 10px 0;
     margin: 0;
     font-weight: 200;
   }
   
   figure.snip1091 figcaption h2 span {
     font-weight: 400;
   }
   
   figure.snip1091 figcaption:before,
   figure.snip1091 figcaption:after {
     background-color: rgba(255, 255, 255, 0.8);
     width: 100%;
     height: 2px;
     position: absolute;
     content: "";
     display: block;
     -webkit-transition: all 0.35s ease-in-out;
     transition: all 0.35s ease-in-out;
   }
   
   figure.snip1091 figcaption:before {
     left: 0;
     top: 0;
   }
   
   figure.snip1091 figcaption:after {
     bottom: 0;
     right: 0;
   }
   
   figure.snip1091.navy {
     background: rgba(180, 170, 170, 0.2);
   }
   
   figure.snip1091 a {
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     position: absolute;
   }
   
   figure.snip1091:hover img,
   figure.snip1091.hover img {
     opacity: 1;
   }
   
   figure.snip1091:hover figcaption,
   figure.snip1091.hover figcaption {
     -webkit-transform: rotate(-45deg) translateY(-50%) scale(0.9);
     transform: rotate(-45deg) translateY(-50%) scale(0.9);
   }
   
   figure.snip1091:hover figcaption:before,
   figure.snip1091.hover figcaption:before,
   figure.snip1091:hover figcaption:after,
   figure.snip1091.hover figcaption:after {
     width: 200%;
   }  

   /* Fin hover img opacity */







.btncolor {
    min-width: 15% !important;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 3%;
    text-shadow: black 7px 0 10px !important;   
    margin-left: 7%; 
}

.row, .left {
    padding-top: 2% !important;
}



@keyframes color {
    0%   { background-color: #34383B; }
    25%  { background-color: lightslategray; }
    50%  { background-color: gray; }
    75%  { background-color: lightblue; }
    100% { background-color: gray; }
    }

    #work {
        animation-name: color;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        color: white;
        text-shadow: black 7px 0 10px;   
    }
#mandala {
    width: 100%;
    height: 450px !important;
    border-radius: 10px;
}
img{
        width: 100%;
        height: 400px;
        border-radius: 10px;
}
h2.w3-center {
    color: black;
    text-shadow: none;

}
.address, .gold  {
    background-image: url('http://wallpapercave.com/wp/TREcQCG.jpg');
    height: auto;
    padding: 3%;
    margin-top: -10px !important;
    padding-top: 10% !important;
    color: black;
    font-weight: bold;
    margin-bottom: -5% !important;
    padding-bottom: 12% !important;
}
i.fab {
    padding-right: 5%;
    padding-left: 5%;
}

/*  */
/*  */
/* Animate h1 header */
.main {
position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    /* 1er texte haut */
.main-heading {
color: black;
text-transform: uppercase;
}

/* 1er text top */
.main-heading-primary {
    display: block;
    font-size: 5.0rem;
    font-weight: 400;
    letter-spacing: 30px;
    animation: moveInLeft 4s linear infinite alternate;
    padding-top: 3%;
    padding-bottom: 3%;
    text-shadow: white 2px 0 10px;    
}

  /* 2eme text bottom  */
.main-heading-secondary {
    font-family: sans-serif;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 26px;
    color: white;
    animation: moveInRight 4s linear infinite alternate;
    text-shadow: rgb(223, 130, 223) 3px 0 10px;    

}

@keyframes moveInLeft {
    0% {
    opacity: 0;
    transform: translateX(-100px);
    }
    
    80% {
    transform: translateX(10px);
    }
    
    100% {
    opacity: 1;
    transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
    opacity: 0;
    transform: translateX(100px);
    }
    
    80% {
    transform: translateX(-10px);
    }
    
    100% {
    opacity: 1;
    transform: translate(0);
    }
}

/* FIN */

/* Turn off parallax scrolling for tablets and mobiles */
@media only screen and (max-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/* About Section */
#about {
font-size: 1.4em;
}

/* Heart Icon */
.heart-icon {
color: #f77;
}


/* Clearfix Hack */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* Social Media Icons */
.w3-half > a {
    text-decoration: none;
}
.w3-half > p{
    float: right;
    padding-left: 10%;
}

/* Bouton icon */
i.fa {
padding-top: .2em;
padding-left: .5em;
padding-right: .5em;
taransition: color 1s;
}

.fa-linkedin-in:hover {
color: rgb(79, 197, 236);
}

.fa-facebook-f:hover {
color: #04a;
}

.fa-user:hover {
color: orange;
}

#profile { 
    vertical-align: middle; 
    height: auto;
    margin-top: 12%;
}
#mot {
    margin-top: 8%;
}
/* Gradient background */
#work {
	width: 100wh;
	height: auto;
	color: #fff;
    /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
    background: linear-gradient(-45deg, black, #DDC78E, lightslategray, #CBAD6B, black); 
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
    }
}




/* */
/* */
/* Responsive Mobile */
@media (max-width: 640px) {
    /* CSS mobile ici */
    
/*Navbar Styles*/
.w3-navbar { color: #fff;
}
.w3-navbar.w3-animate-top { color: #C6D2DE;}
.w3-navbar li a {
    transition: 0.4s;
}
.w3-navbar li a:hover { 
    background-color: transparent; 
    color: black;
    font-size: 12px !important; 
}
.w3-white {
    background-image: linear-gradient(to right,#BF953F 0%,#FCF6BA 51%,#B38728 100%);
    color: white !important;
    opacity: 0.6;
}
#myNavbar {
    font-size: 10px;
}




    .btn-hover.color-7 {
        background-image: linear-gradient(to right,#BF953F 0%,#FCF6BA 51%,#B38728 100%);
        /* background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645); */
        box-shadow: 0 4px 15px 0 rgba(42, 19, 53, 0.75);
        padding: 1%;
        margin-top: 90%;
        margin-left: 30%;
        border-radius: 50px !important;
        font-weight: bold;
    }
    #send {
        margin-left: 40%;
    }
    #text {
        margin: 3%;
        font-size: 5px;
    }
    .btnA {
        font-size: 15px;
        padding: 5% !important;
        margin-left: 35% !important;
    }
    #profile { 
        vertical-align: middle; 
        width: 40%; 
        height: auto;
        margin-top: -3%;
    }

    footer.w3-center, p {
        margin-top: -1% !important;
        font-size: 14px;
        text-shadow: none;
    }

        /* Texte animate Téléphone*/
        /* Animate h1 header */
    .main {
        position: absolute;
            top: 40%;
            left: 55%;
            transform: translate(-50%, -50%);
        }
        
            /* 1er texte haut */
        .main-heading {
        color: black;
        text-transform: uppercase;
        }
        
        
        .main-heading-primary {
            display: block;
            font-size: 1.7rem;
            font-weight: 400;
            letter-spacing: 10px;
            animation: moveInLeft 4s linear infinite alternate;
            padding-top: 3%;
            padding-bottom: 3%;
            text-shadow: white 2px 0 10px;    
        }
        
        /* 2eme texte bas  */
        .main-heading-secondary {
            font-family: sans-serif;
            display: block;
            font-size: 0.9rem;
            font-weight: bold;
            text-align: center;
            letter-spacing: 8px;
            color: white;
            animation: moveInRight 4s linear infinite alternate;
            text-shadow: plum 2px 0 10px;    
        }
        
        @keyframes moveInLeft {
            0% {
            opacity: 0;
            transform: translateX(-100px);
            }
            
            80% {
            transform: translateX(10px);
            }
            
            100% {
            opacity: 1;
            transform: translate(0);
            }
        }
        
        @keyframes moveInRight {
            0% {
            opacity: 0;
            transform: translateX(100px);
            }
            
            80% {
            transform: translateX(-10px);
            }
            
            100% {
            opacity: 1;
            transform: translate(0);
            }
        }
        /* FIN */
        #projet1, #morpion, #cagnot, #exchange, #luxury {
            border-radius: 20px;
            min-width: 15%;
            height: auto;
            cursor: pointer;
            padding: 3%;
        }
        p.w3-center {
            font-size: 15px;
            padding-top: -10%;
        }

        .mail {
            text-align: center;
            margin-top: 5%;
        }
        .row, .left {
            margin-top: 2% !important;
        }
    }
